{% extends 'main/layout.html' %}

{% block title %}Новости на сайте{% endblock %}

{% block content %}
    <h1>Новости на сайте</h1>
    {%if news%}
    {% for item in news %}
    <div class="info-news">
        <div class="d-flex flex-row">
            <h4> {{ item.title }}</h4>
        </div>
        <div class="d-flex flex-row">
            <p> {{ item.intro }}</p>
        </div>
        <div class="d-flex flex-row">
            <p> {{ item.full_text }}</p>
        </div>
        <div class="d-flex flex-row">
            <p> {{ item.date }}</p>
        </div>
        <a class="btn btn-primary" href="{% url 'news-detail' item.id %}">Читать подробнее</a>
        <a class="btn btn-primary mt-3" href="{% url 'delete-detail' item.id %}">Удалить статью</a>
    </div>
    {% endfor %}
    {% else %}
    <p>Новостей нет</p>
    {% endif %}
{% endblock %}